@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 20% 98%;
    /* soft off-white */
    --foreground: 222 47% 11%;
    /* dark gray for text */
    --muted: 220 8% 70%;
    /* light gray for muted backgrounds */
    --muted-foreground: 220 10% 40%;
    /* medium gray for muted text */
    --card: 220 8% 92%; /* soft gray for cards */
    /* white for cards */
    --card-foreground: 222 47% 11%;
    --popover: 220 14% 96%;
    /* light gray for popovers */
    --popover-foreground: 222 47% 11%;
    --border: 220 13% 91%;
    /* subtle border */
    --input: 220 13% 91%;
    --primary: 24 94% 50%;
    /* your accent color */
    --primary-foreground: 0 0% 100%;
    --secondary: 220 14% 96%;
    --secondary-foreground: 222 47% 11%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.w-3{
  width: 0.75rem !important;
}
.w-4{
  width: 1rem !important;
}
.w-5{
  width: 1.25rem !important;
}
.w-6{
  width: 1.5rem !important;
}
.h-3{
  height: 0.75rem !important;
}
.h-4{
  height: 1rem !important;
}
.h-5{
  height: 1.25rem !important;
}
.h-6{
  height: 1.5rem !important;
}